 <!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Tiger Intrusion Detection System </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/mains.css" />
	</head>
	<body>

		 

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			 
		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="../images/image.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>ABSTRACT</h2>
							 
						</header>
						<div class="content">
							<p>Security issues have also arisen with the
								due to the rapid increase in system usage over the Internet. The proposed approach can effectively detect
								intruders on the Internet. The proposed
								algorithm outperformed the existing algorithms such as SVM,
								Naïve Bayes and Decision Tree. The proposed approach can greatly improve the detection rate (
								) and false error rate. The
								data set used here is the knowledge discovery data set. The
								results obtained by the proposed method have
								values for the execution time (min) of 3.24 minutes, the accuracy score of
								(%) 96.78%, and the error rate (%) 0.21%.
								</p>
						</div>
						 
					</article>
				</div>
				 
			</section>

		<!-- Two -->
		 
		 
		 

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/mains.js"></script>
<input type="button" onclick="window.location.href='{{url_for('upload')}}';" value="UPLOAD" />
</body>
	
</html>