  <!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title> Future</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/mains.css" />
	</head>
	<body>

		 

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			 
		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="../images/image2.png">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Future</h2>
						 
						</header>
						<div class="content">
							<p> As the involvement of the systems over the internet
increasing rapidly, the security concerns have also
seen. The proposed approach deals with the detection
of intruders over the internet efficiently. The
proposed algorithm has performed well as compared
to the previously applied algorithms such as SVM,
Naïve Bayes, and Decision Tree. The detection rates
and the false error rates can be improved at a great
extent by the proposed approach. The dataset used
here is the knowledge discovery dataset. The results
obtained by our proposed method having the values
for Performance time (min)is 3.24 minutes, Accuracy
rate (%) is 96.78 %, and the Error rate (%) is 0.21 %.</p>
						</div>
						 
					</article>
				</div>
				 
			</section>

		<!-- Two -->
		 
		 
		 

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/mains.js"></script>
<input type="button" onclick="window.location.href='{{url_for('index')}}';" value="HOME" />
	</body>
</html>