<html>
<head>
 
  <div><span style="margin-left:400px;color:blue"><font size="12">PERFORMANCE ANALYSIS</font></div>
</head>

        

    

</br>
</br>
</br>
</br>
</br>

<body>
 <div><span style="margin-left:20px;color:green"><font size="12">Precision and recall</font></div>
 
 <div><span style="margin-left:450px;color:black"><font size="12">   Recall  Precision</font></div> 
<div><span style="margin-left:50px;color:black"><font size="12">NORMAL   </font>
<span style="margin-left:220px;color:black"><font size="12">0.99  0.099   </font>
</div> 
</br>
</br>
<div><span style="margin-left:50px;color:black"><font size="12">ATTACKER</font>
<span style="margin-left:190px;color:black"><font size="12">0.98  0.095   </font>
</div>    
  
 </br>
</br>
</br>
</br>
</br>

<div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            
                       
                      <div><span style="margin-left:450px;color:red"><font size="12">Confusion Matrix</font></div>
					    <div><img style="margin-left:250px;width:800px;height:500px;" src="../static/images/matrix.png"</div>
                               
                         
						       
        </div>


<center><a href="{{url_for('future')}}"><button type="submit" style="background-color:green;color:white;width:150px;height:40px;">Future</button></a></center>
</body>
 
</html>

